@model PasswordChangeViewModel

@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h2>Change Password</h2>
<hr />

@if (ViewBag.success == true)
{
    <div class="alert alert-info">Password Updated Successfully</div>
    <a class="btn btn-danger" asp-controller="Member" asp-action="Index">Back To Information Page</a>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <form asp-action="PasswordChange">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PasswordOld" class="control-label"></label>
                    <input asp-for="PasswordOld" class="form-control" />
                    <span asp-validation-for="PasswordOld" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="PasswordNew" class="control-label"></label>
                    <input asp-for="PasswordNew" class="form-control" />
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="PasswordConfirm" class="control-label"></label>
                    <input asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div> 
                <div class="form-group mt-3">
                    <input type="submit" value="Change" class="btn btn-primary" />
                    <a class="btn btn-danger" asp-controller="Member" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
}

