<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css2/css/morph.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <header> 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid"> 
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between m-2">
                    <ul class="navbar-nav flex-grow-1"> 
                        <li class="nav-item">
                            <a class="nav-link text-dark btn btn-danger" style="width:120px" asp-controller="Admin" asp-action="Index">Home Page</a>
                        </li>    
                        <li class="nav-item ms-auto">
                            <a class="nav-link text-dark btn btn-success" style="width:120px" asp-controller="Member" asp-action="logout" asp-route-returnUrl="/Home/Index">
                                <i class="fa-solid fa-right-from-bracket"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>  

    <div class="container" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3">
                <h3 class="text-center">Menu</h3>

                <a class="btn btn-warning col-12 mt-2" asp-action="Users" asp-controller="Admin">Members</a>
                                  
                <a class="btn btn-warning col-12 mt-2" asp-action="Roles" asp-controller="Admin">Roles</a> 

                <a class="btn btn-warning col-12 mt-2" asp-action="Claims" asp-controller="Admin">Claims</a>

                <a class="btn btn-warning col-12 mt-2" asp-action="Index" asp-controller="Member">Account Settings</a> 
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted"  style="bottom:10px;position: fixed; width:100%;">
        <div class="container">
            &copy; Onur Derman - School Project
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
