

@{
    ViewData["Title"] = "Contact";
}

<div class="card" style="zoom:95%">
    <img src="~/UserPicture/profilePicture.jpg" alt="Onur" style="width:100%; height:100%">
    <h1>Onur Derman</h1>
    <h3 class="title">Junior Software Developer</h3>    
    <p class="badge bg-info">C#  -  Java  -  Javascript  -  HTML  -  CSS</p> 
    <p class="badge bg-info">Entity Framework Core  -  SQL Server</p> 
    <p class="badge bg-info">.NET Core</p> 
    <p class="badge bg-info">ASP.NET Core MVC - Web API</p> 
    <p><button><b>onrdrmn@gmail.com</b></button></p> 
</div>