

@{
    ViewData["Title"] = "Contact";
}

<div class="card" style="zoom:86%">
    <img class="m-3" src="~/UserPicture/profilePicture.jpg" alt="Onur" style="border-radius: 50%; width: 90%; height: 90%">
    <h1>Onur Derman</h1>
    <h3 class="title">Junior Software Developer</h3> 
    <p class="badge bg-info">C#  -  Java  -  Javascript  -  HTML  -  CSS</p>
    <p class="badge bg-info">Entity Framework Core  -  SQL Server</p>
    <p class="badge bg-info">.NET Core</p>
    <p class="badge bg-info">ASP.NET Core MVC - Web API</p>
    <p><button class="bg-dark"><b>onrdrmn@gmail.com</b></button></p>
</div>